<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sd="http://io.github.jpenren/sd"
	layout:decorate="~{layouts/main}">
	
<head>
<meta charset="UTF-8">
<title>e-assignment | Users</title>
</head>
<body class="animsition site-navbar-small page-user">
	
	<th:block layout:fragment="~{page-specific-css-script}">
	
		<link th:href="@{/assets/css/pages/user/user.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{assets/css/apps/work.min.css}">
		
		<link rel="stylesheet" th:href="@{assets/global/vendor/bootstrap-toggle/bootstrap-toggle.css}">
-		<script th:src="@{assets/global/vendor/bootstrap-toggle/bootstrap-toggle.js}"></script>
		
		<style type="text/css">
			/* page specific css */
			.verticalLine {
			  border-left: thick solid #ff0000;
			}
		</style>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var contextRoot = /*[[@{/}]]*/ '';
			
			$(".toggle-event").bootstrapToggle({
				  on       :   "Active",
				  off      :   "Inactive",
				  onstyle  :   "success" ,
				  offstyle :   "danger"
			});
			
			function userActiveInactive(userId,check) {
				 
				var userActiveOrInactive = $(check).prop('checked');
				
				var formData = {};
				formData['enabled'] = userActiveOrInactive;
				
				 $.post(contextRoot+"activeOrInactiveUser/"+userId,formData,function(data){
					   console.log("success in userActiveInactive: "+data);
	     	    	   successMsg(data.message);
	     	    }).fail(function(data) {
	     	    	console.log("error in userActiveInactive: "+data.responseJSON.error);
	     	        if(data.responseJSON.error.indexOf("InternalError") > -1){
	     	        	errorMsg(data.responseJSON.message);
	     	        }else if(data.responseJSON.status==901){
	     	        	console.log(data.responseJSON.message);
		     	    }else{
	     	        	var errors = $.parseJSON(data.responseJSON.message);
	     	            $.each( errors,function( index,item ){
	     	                errorMsg(item.defaultMessage);
	     	            });
	     	        }
	     	    });
			 }
			 
			function updateUserModal(userId){
					var ajaxURL = contextRoot+"updateUser/"+userId;
					$.ajax({
						url:ajaxURL,
						type: "GET",
						success:function(result){
							$("#updateUserModalContent").html(result);
						},complete:function(){
				  			$("#updateUserModal").modal({
				  				
							});
						}
					}); 
			   }	

		/*]]>*/ 	
	</script>
		
	</th:block>
	
		
		<!-- Panel -->
        <div class="panel app-work" layout:fragment="~{page-content}">

		<div class="panel-heading" id="userInfoFragment">
			<th:block th:insert="fragments/admin/userInfo :: userInfo"></th:block>
		</div>

        <!-- User Fragment -->
		<div class="panel-body" id="userFragment">
			<th:block th:insert="fragments/admin/users :: users"></th:block>
		</div>
		<!-- User Fragment -->  	
          	
        <!-- Update User Modal -->
		<div class="modal fade example-modal-lg" id="updateUserModal" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-simple modal-lg">
				<div class="modal-content" id="updateUserModalContent">
				
				</div>
			</div>
		</div>
		<!-- Add Student Modal -->
					
        </div>
        <!-- End Panel -->
	
</body>
</html>