<!DOCTYPE html>
<html class="no-js css-menubar" lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">

<title layout:title-pattern="$CONTENT_TITLE">Base</title>
    
    <!-- <link rel="apple-touch-icon" th:href="@{assets/images/apple-touch-icon.png}"> -->
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}">
    
    <!-- Bootstrap and site -->
    <link rel="stylesheet" th:href="@{assets/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap/bootstrap-extend.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/site/site.min.css}">
	<link rel="stylesheet" th:href="@{assets/css/animate/animate.min.css}"  type="text/css" />
	
    <!-- Site Skin -->
    <!-- <link rel="stylesheet" th:href="@{assets/skins/cyan.min.css}"> -->
    
    <!-- Plugins -->
    <link rel="stylesheet" th:href="@{assets/global/vendor/animsition/animsition.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/asscrollable/asScrollable.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/switchery/switchery.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/intro-js/introjs.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/slidepanel/slidePanel.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/flag-icon-css/flag-icon.css}">
    
    <link rel="stylesheet" th:href="@{assets/global/vendor/chartist/chartist.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/aspieprogress/asPieProgress.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/jquery-selective/jquery-selective.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{assets/css/pages/dashboard/team.min.css}">
    <link rel="stylesheet" th:href="@{assets/global/vendor/bootstrap-toggle/bootstrap-toggle.css}">
    
    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{assets/global/fonts/font-awesome/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/global/fonts/material-design/material-design.min.css}">
    <link rel="stylesheet" th:href="@{assets/global/fonts/web-icons/web-icons.min.css}">
    <link rel="stylesheet" th:href="@{assets/global/fonts/brand-icons/brand-icons.min.css}">
    <link rel='stylesheet' th:href='@{http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic}'>
    
    <!--[if lt IE 9]>
    <script th:src="@{global/vendor/html5shiv/html5shiv.min.js}"></script>
    <![endif]-->
    
    <!--[if lt IE 10]>
    <script th:src="@{global/vendor/media-match/media.match.min.js}"></script>
    <script th:src="@{global/vendor/respond/respond.min.js}"></script>
    <![endif]-->
    
    <!-- Scripts -->
    <script th:src="@{assets/global/vendor/breakpoints/breakpoints.js}"></script>
    <script>
      Breakpoints();
    </script>
</head>

<body class="animsition site-navbar-small dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="browsehappy.com">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    
	<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
          data-toggle="menubar">
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
          data-toggle="collapse">
          <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand navbar-brand-center" th:href="@{/home}">
          <img class="navbar-brand-logo navbar-brand-logo-normal" src="../assets/images/logo.png"  title="Remark">
          <img class="navbar-brand-logo navbar-brand-logo-special" src="../assets/images/logo-colored.png" title="Remark">
          <span class="navbar-brand-text hidden-xs-down">e-assignment</span>
        </a>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
          data-toggle="collapse">
          <span class="sr-only">Toggle Search</span>
          <i class="icon wb-search" aria-hidden="true"></i>
        </button>
      </div>
    
      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="nav-item hidden-float" id="toggleMenubar">
              <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
            <li class="nav-item hidden-sm-down" id="toggleFullscreen">
              <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                <span class="sr-only">Toggle fullscreen</span>
              </a>
            </li>
            <li class="nav-item hidden-float">
              <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                role="button">
                <span class="sr-only">Toggle Search</span>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar -->
    
          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                aria-expanded="false" role="button">
                <span class="flag-icon flag-icon-us"></span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  <span class="flag-icon flag-icon-gb"></span> English</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  <span class="flag-icon flag-icon-fr"></span> French</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  <span class="flag-icon flag-icon-cn"></span> Chinese</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  <span class="flag-icon flag-icon-de"></span> German</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                  <span class="flag-icon flag-icon-nl"></span> Dutch</a>
              </div>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img th:src="${'data:image/png;base64,'+#authentication.principal.user.image}" alt="..." > 
                  <i></i>
                </span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" th:href="@{/profile}" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                aria-expanded="false" data-animation="scale-up" role="button">
                <i class="icon wb-bell" aria-hidden="true"></i>
                <span class="badge badge-pill badge-danger up">5</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <li class="dropdown-menu-header" role="presentation">
                  <h5>NOTIFICATIONS</h5>
                  <span class="badge badge-round badge-danger">New 5</span>
                </li>
                <li class="list-group" role="presentation">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-order bg-red-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">A new order has been placed</h6>
                            <time class="media-meta" datetime="2018-06-12T20:50:48+08:00">5 hours ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Completed the task</h6>
                            <time class="media-meta" datetime="2018-06-11T18:29:20+08:00">2 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Settings updated</h6>
                            <time class="media-meta" datetime="2018-06-11T14:05:00+08:00">2 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Event started</h6>
                            <time class="media-meta" datetime="2018-06-10T13:50:18+08:00">3 days ago</time>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <i class="icon wb-chat bg-orange-600 white icon-circle" aria-hidden="true"></i>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Message received</h6>
                            <time class="media-meta" datetime="2018-06-10T12:34:48+08:00">3 days ago</time>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="dropdown-menu-footer" role="presentation">
                  <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                    <i class="icon wb-settings" aria-hidden="true"></i>
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    All notifications
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages"
                aria-expanded="false" data-animation="scale-up" role="button">
                <i class="icon wb-envelope" aria-hidden="true"></i>
                <span class="badge badge-pill badge-info up">3</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <li class="dropdown-menu-header" role="presentation">
                  <h5>MESSAGES</h5>
                  <span class="badge badge-round badge-info">New 3</span>
                </li>
    
                <li class="list-group" role="presentation">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <span class="avatar avatar-sm avatar-online">
                              <img src="../../global/portraits/2.jpg" alt="..." />
                              <i></i>
                            </span>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Mary Adams</h6>
                            <div class="media-meta">
                              <time datetime="2018-06-17T20:22:05+08:00">30 minutes ago</time>
                            </div>
                            <div class="media-detail">Anyways, i would like just do it</div>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <span class="avatar avatar-sm avatar-off">
                              <img src="../../global/portraits/3.jpg" alt="..." />
                              <i></i>
                            </span>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Caleb Richards</h6>
                            <div class="media-meta">
                              <time datetime="2018-06-17T12:30:30+08:00">12 hours ago</time>
                            </div>
                            <div class="media-detail">I checheck the document. But there seems</div>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <span class="avatar avatar-sm avatar-busy">
                              <img src="../../global/portraits/4.jpg" alt="..." />
                              <i></i>
                            </span>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">June Lane</h6>
                            <div class="media-meta">
                              <time datetime="2018-06-16T18:38:40+08:00">2 days ago</time>
                            </div>
                            <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                          </div>
                        </div>
                      </a>
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="pr-10">
                            <span class="avatar avatar-sm avatar-away">
                              <img src="../../global/portraits/5.jpg" alt="..." />
                              <i></i>
                            </span>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">Edward Fletcher</h6>
                            <div class="media-meta">
                              <time datetime="2018-06-15T20:34:48+08:00">3 days ago</time>
                            </div>
                            <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="dropdown-menu-footer" role="presentation">
                  <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                    <i class="icon wb-settings" aria-hidden="true"></i>
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                    See all messages
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" id="toggleChat">
              <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"
                data-url="site-sidebar.tpl">
                <i class="icon wb-chat" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
          <form role="search">
            <div class="form-group">
              <div class="input-search">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="site-search" placeholder="Search...">
                <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                  data-toggle="collapse" aria-label="Close"></button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Site Navbar Seach -->
      </div>
      </nav>
    
    
    <div class="site-menubar site-menubar-light">
      <div class="site-menubar-body">
      		
			<!-- Start Student Site Menu -->
            <ul sec:authorize="hasAuthority('STUDENT_PRIVILEGE')" class="site-menu" data-plugin="menu">
               <!-- <li th:class="${controllerName == 'Home'} ? 'site-menu-item active' : 'site-menu-item'" >
                  <a th:href="@{home}" data-dropdown-toggle="false">
	                <i class="site-menu-icon icon wb-home" aria-hidden="true"></i>
	                  <span class="site-menu-title">Home</span>
	              </a>
              </li> -->
              <li th:class="${controllerName == 'Student'} ? 'site-menu-item active' : 'site-menu-item'" >
                <a href="javascript:void(0)" data-dropdown-toggle="false">
                  <i class="site-menu-icon icon md-assignment" aria-hidden="true"></i>
                  <span class="site-menu-title">My Assignment</span>
                </a>
              </li>
            </ul>
            <!-- End Student Site Menu -->
            
            <!-- Start Teacher Site Menu -->
            <ul sec:authorize="hasAuthority('TEACHER_PRIVILEGE')" class="site-menu" data-plugin="menu">
              <!-- <li th:class="${controllerName == 'Home'} ? 'site-menu-item active' : 'site-menu-item'" >
                  <a th:href="@{home}" data-dropdown-toggle="false">
	                <i class="site-menu-icon icon wb-home" aria-hidden="true"></i>
	                  <span class="site-menu-title">Home</span>
	              </a>
              </li> -->
              <li th:class="${controllerName == 'Teacher'} ? 'site-menu-item active' : 'site-menu-item'" >
                <a href="javascript:void(0)" data-dropdown-toggle="false">
                  <i class="site-menu-icon icon md-assignment" aria-hidden="true"></i>
                  <span class="site-menu-title">Assignment</span>
                </a>
              </li>
              <li th:class="${controllerName == 'Teacher'} ? 'site-menu-item active' : 'site-menu-item'" >
                <a href="javascript:void(0)" data-dropdown-toggle="false">
                  <i class="site-menu-icon icon fa-users" aria-hidden="true"></i>
                  <span class="site-menu-title">Group</span>
                </a>
              </li>
            </ul>
            <!-- End Teacher Site Menu -->
            
            
            <!-- Start Admin Site Menu -->
            <ul sec:authorize="hasAuthority('ADMIN_PRIVILEGE')" class="site-menu" data-plugin="menu">
              <!-- <li th:class="${controllerName == 'Home'} ? 'site-menu-item active' : 'site-menu-item'" >
                  <a th:href="@{home}" data-dropdown-toggle="false">
	                <i class="site-menu-icon icon wb-home" aria-hidden="true"></i>
	                  <span class="site-menu-title">Home</span>
	              </a>
              </li> -->
              <li th:class="${actionName == 'usersPage'} ? 'site-menu-item active' : 'site-menu-item'" >
                <a th:href="@{/users}" data-dropdown-toggle="false">
                  <i class="site-menu-icon icon wb-users" aria-hidden="true"></i>
                  <span class="site-menu-title">Users</span>
                </a>
              </li>
               <li th:class="${actionName == 'createUserPage'} ? 'site-menu-item active' : 'site-menu-item'" >
                <a th:href="@{/createUser}" data-dropdown-toggle="false">
                  <i class="site-menu-icon icon wb-user-add" aria-hidden="true"></i>
                  <span class="site-menu-title">Add User</span>
                </a>
              </li>
            </ul>
            <!-- End Admin Site Menu -->      
      </div>
    </div>
    
	<!-- Page -->
    <div class="page">
      <div class="page-content container-fluid">
        
        
          <!-- Start Page content -->
          <div layout:fragment="~{page-content}">

			
		  </div>
		  <!-- End Page content -->

			<!-- Session Time Out Modal -->
            <div class="modal fade modal-fade-in-scale-up" id="sessionTimeOutModal" aria-hidden="true"
              aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
              <div class="modal-dialog modal-simple">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Security Session Timeout</h4>
                  </div>
                  <div class="modal-body">
                    <p>Your security session has expired, do you want to login again ?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="@{/login}" class="btn btn-primary">Re-login</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Session Time Out Modal -->
			

		</div>
      </div>
    <!-- End Page -->
    
    


    <!-- Footer -->
    <footer class="site-footer">
      <div class="site-footer-legal">© 2018 <a th:href="@{http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202}">Remark</a></div>
      <div class="site-footer-right">
        Crafted with <i class="red-600 wb wb-heart"></i> by <a th:href="@{https://themeforest.net/user/creation-studio}">Creation Studio</a>
      </div>
    </footer>
    
    <!-- Core  -->
    <script th:src="@{assets/global/vendor/babel-external-helpers/babel-external-helpers.js}"></script>
    <script th:src="@{assets/global/vendor/jquery/jquery.js}"></script>
    <script th:src="@{assets/global/vendor/popper-js/umd/popper.min.js}"></script>
    <script th:src="@{assets/global/vendor/bootstrap/bootstrap.js}"></script>
    <script th:src="@{assets/global/vendor/animsition/animsition.js}"></script>
    <script th:src="@{assets/global/vendor/mousewheel/jquery.mousewheel.js}"></script>
    <script th:src="@{assets/global/vendor/asscrollbar/jquery-asScrollbar.js}"></script>
    <script th:src="@{assets/global/vendor/asscrollable/jquery-asScrollable.js}"></script>
    
    <!-- Plugins -->
    <script th:src="@{assets/global/vendor/switchery/switchery.js}"></script>
    <script th:src="@{assets/global/vendor/intro-js/intro.js}"></script>
    <script th:src="@{assets/global/vendor/screenfull/screenfull.js}"></script>
    <script th:src="@{assets/global/vendor/chartist/chartist.js}"></script>
    <script th:src="@{assets/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js}"></script>
    <script th:src="@{assets/global/vendor/aspieprogress/jquery-asPieProgress.js}"></script>
    <script th:src="@{assets/global/vendor/matchheight/jquery.matchHeight-min.js}"></script>
    <script th:src="@{assets/global/vendor/jquery-selective/jquery-selective.min.js}"></script>
    <script th:src="@{assets/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{assets/global/vendor/bootstrap-notify/bootstrap-notify.js}"></script>
    <script th:src="@{assets/global/vendor/bootstrap-toggle/bootstrap-toggle.js}"></script>
    
    <!-- Scripts -->
    <script th:src="@{assets/global/js/Component.js}"></script>
    <script th:src="@{assets/global/js/Plugin.js}"></script>
    <script th:src="@{assets/global/js/Base.js}"></script>
    <script th:src="@{assets/global/js/Config.js}"></script>
    
    <script th:src="@{assets/js/Section/Menubar.js}"></script>
    <script th:src="@{assets/js/Section/Sidebar.js}"></script>
    <script th:src="@{assets/js/Section/PageAside.js}"></script>
    <script th:src="@{assets/js/Plugin/menu.js}"></script>
    
    <!-- Config -->
    <script th:src="@{assets/global/js/config/colors.js}"></script>
    <script th:src="@{assets/js/config/tour.js}"></script>
    <script>Config.set('assets', '../../assets');</script>
    
    <!-- Page -->
    <script th:src="@{assets/js/Site.js}"></script>
    <script th:src="@{assets/global/js/Plugin/asscrollable.js}"></script>
    <script th:src="@{assets/global/js/Plugin/slidepanel.js}"></script>
    <script th:src="@{assets/global/js/Plugin/switchery.js}"></script>
    <script th:src="@{assets/global/js/Plugin/matchheight.js}"></script>
    <script th:src="@{assets/global/js/Plugin/aspieprogress.js}"></script>
    <script th:src="@{assets/global/js/Plugin/bootstrap-datepicker.js}"></script>
    <script th:src="@{assets/js/dashboard/team.js}"></script>
    
    <script th:src="@{assets/js/app/ajaxSessionExpiration.js}"></script>
        
	<th:block layout:fragment="~{page-specific-css-script}"></th:block>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	
	$(".toggle-event").bootstrapToggle({
		  on       :   "Active",
		  off      :   "Inactive",
		  onstyle  :   "success" ,
		  offstyle :   "danger"
	});
	         
	var serverContext = [[@{/}]];

	function successMsg(msg){
		
		$.notify(msg, {
			icon: 'glyphicon glyphicon-ok-circle',
			type: "success",
			placement: {
				from: "bottom",
				align: "right"
			},
			offset: 20,
			spacing: 10,
			z_index: 1031,
			delay: 5000,
			timer: 1000,
			animate: {
				enter: 'animated fadeInDown',
				exit: 'animated fadeOutUp'
			},
			newest_on_top: true
		});
	}
	
	function errorMsg(msg){
		
		$.notify(msg, {
			type: "danger",
			icon: 'glyphicon glyphicon-warning-sign',
			delay: 5000,
			placement: {
				from: "bottom",
				align: "right"
			},
			offset: 20,
			spacing: 10,
			z_index: 1031,
			delay: 5000,
			timer: 1000,
			animate: {
				enter: 'animated fadeInDown',
				exit: 'animated fadeOutUp'
			},
			newest_on_top: true
		});
		
	}
	  
	
	/*]]>*/ 

</script>

</body>

</html>