<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorate="~{layouts/main}">
	
<head>
<meta charset="UTF-8">
<title>e-assignment | Profile</title>
</head>
<body>

	<th:block layout:fragment="~{page-specific-css-script}">
	
		<link th:href="@{/assets/css/pages/profile/profile.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/forms/layouts.css}" rel="stylesheet" type="text/css" />
		
		<link th:href="@{/assets/global/vendor/dropzone/dropzone.css}" rel="stylesheet" type="text/css" />
		<script th:src="@{/assets/global/vendor/dropzone/dropzone.js}" type="text/javascript"></script>
		<script th:src="@{/assets/global/js/Plugin/responsive-tabs.js}"></script>
		<script th:src="@{/assets/global/js/Plugin/tabs.js}"></script>
		<script th:src="@{/assets/js/app/avatarDropzone.js}" type="text/javascript"></script>
		<script th:src="@{/assets/js/app/profile.js}" type="text/javascript"></script>
		<script th:src="@{/assets/js/pwstrength-bootstrap.min.js}"></script>
		
		<style type="text/css">
		
		</style>
		
		<script th:inline="javascript">
		var serverContext = [[@{/}]];

			(function($){

				$('#password').pwstrength();

				$(":password").keyup(function(){

					var password = $("#password").val();
					var matchPassword = $("#matchPassword").val();
					
			        if(password != matchPassword){
			            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
			        }else{
			            $("#globalError").html("").hide();
			        }
			    });
			    
				var options = {};
				options.common = {
						minChar:8,
						onKeyUp: function (evt, data) {
							
				        }
			   };
			   options.rules = {
					   activated : {
						   		wordNotEmail: true,
						   		wordMinLength: true,
		                      	wordSequences: true,
		                      	wordLowercase: true,
		                      	wordUppercase: true,
		                      	wordOneNumber: true,
		                      	wordOneSpecialChar: true
						}
			   };
			   options.ui = {
					   showVerdictsInsideProgressBar: true,
					   showErrors:true
			   };
			   $('#password').pwstrength(options);
			   
			     
				  var $form = $('#passwordChangeForm');
				  $form.on('submit', function(e) {
				    e.preventDefault();
				    var password = $("#password").val();
				    var matchPassword = $("#matchPassword").val();
				    
				    if( password!= matchPassword){
				        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
				        return;
				    }
				    
				    $.post($form.attr('action'),$form.serialize() ,function(data){
				    	successMsg(data.message);
				    }).fail(function(data) {
				        if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
					        errorMsg(data.responseJSON.message);
				        }
				        else if(data.responseJSON.error.indexOf("InternalError") > -1){
				        	errorMsg(data.responseJSON.message);
				        }
				        else{
				        	var errors = $.parseJSON(data.responseJSON.message);
				            $.each( errors, function( index,item ){
				                $("#globalError").show().html(item.defaultMessage);
				            });
				            errors = $.parseJSON(data.responseJSON.error);
				            $.each( errors, function( index,item ){
				                $("#globalError").show().append(item.defaultMessage+"<br/>");
				            });
				        }
				    });
			 })
			 }(jQuery));
			 
		</script>
		
	</th:block>
	
	
	<div class="row" layout:fragment="~{page-content}">
          <div class="col-lg-3">
            <!-- Page Widget -->
            <div class="card card-shadow text-center">
              <div class="card-block">
                <a class="avatar avatar-lg" href="javascript:void(0)">
                  <img th:src="${'data:image/png;base64,'+#authentication.principal.user.image}" alt="..." >
                </a>
                <h4 class="profile-user" th:text="${#authentication.principal.user.firstName+' '+#authentication.principal.user.lastName}" >User name</h4>
                
                <!-- <p class="profile-job badge badge-outline badge-primary" th:text="${#strings.listJoin(#messages.listMsg(#authentication?.principal?.user?.roles), ',')}">roles</p> -->
                <!-- <p class="badge badge-outline badge-info" th:text="${#strings.listJoin(#messages.listMsg(#authentication?.principal?.authorities), ',')}">privileges</p> -->
                <!-- <p class="badge badge-outline badge-info" th:each="p,iterStatus : ${#authentication?.principal?.authorities}" th:text="${p}">privileges</p> -->
                
                <p class="badge badge-lg badge-outline badge-info" th:each="r,iterStatus : ${#authentication?.principal?.user?.roles}" th:text="${r}">roles</p>
                <p class="profile-job" th:text="${#authentication.principal.user.email}">privileges</p>
                
                <div class="profile-social">
                  <a class="icon bd-twitter" href="javascript:void(0)"></a>
                  <a class="icon bd-facebook" href="javascript:void(0)"></a>
                  <a class="icon bd-github" href="javascript:void(0)"></a>
                </div>
                
              </div>
              <div class="card-footer">
	              <div class="row no-space">
	                <div class="col-6">
	                  <strong class="profile-stat-count">260</strong>
	                  <span>Student</span>
	                </div>
	                <div class="col-6">
	                  <strong class="profile-stat-count">180</strong>
	                  <span>Assignment</span>
	                </div>
	              </div>
              </div>
            </div>
            <!-- End Page Widget -->
          </div>

          <div class="col-lg-9">
            <!-- Panel -->
            <div class="panel">
              <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                  <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#personalInfo"
                      aria-controls="personalInfo" role="tab">Personal Info</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#avatar" aria-controls="avatar"
                      role="tab">Change Avatar</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#passwordChange" aria-controls="passwordChange"
                      role="tab">Change Password</a></li>
                  <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Menu </a>
                    <div class="dropdown-menu" role="menu">
                      <a class="active dropdown-item" data-toggle="tab" href="#personalInfo" aria-controls="personalInfo"
                        role="tab">Personal Info</a>
                      <a class="dropdown-item" data-toggle="tab" href="#avatar" aria-controls="avatar"
                        role="tab">Change Avatar</a>
                      <a class="dropdown-item" data-toggle="tab" href="#passwordChange" aria-controls="passwordChange"
                        role="tab">Change Password</a>
                    </div>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active animation-slide-left" id="personalInfo" role="tabpanel">
                    	
		                  <div class="example">
		                    <form autocomplete="off" id="updateUserInfoForm" th:object="${userProfile}">
		                    
		                      <input type="hidden" th:field="*{id}" />
		                      
		                      <div class="row">
		                        <div class="form-group col-md-6">
		                          <label class="form-control-label" for="inputBasicFirstName">First Name</label>
		                          <input type="text" class="form-control" id="inputBasicFirstName" name="inputFirstName" 
		                          			th:field="*{firstName}" placeholder="First Name" autocomplete="off" />
		                          <span id="firstNameError" class="text-danger" style="display:none"></span>
		                        </div>
		                        <div class="form-group col-md-6">
		                          <label class="form-control-label" for="inputBasicLastName">Last Name</label>
		                          <input type="text" class="form-control" id="inputBasicLastName" th:field="*{lastName}" name="inputLastName"
		                            placeholder="Last Name" autocomplete="off" />
		                          <span id="lastNameError" class="text-danger" style="display:none"></span>
		                        </div>
		                      </div>
		                      <div class="row">
			                      <div class="form-group col-md-6">
			                        <label class="form-control-label">Gender</label>
			                        <div>
			                          <div class="radio-custom radio-default radio-inline">
			                            <input type="radio" th:field="*{gender}" id="inputBasicMale" name="inputGender" value="M" />
			                            <label for="inputBasicMale">Male</label>
			                          </div>
			                          <div class="radio-custom radio-default radio-inline">
			                            <input type="radio" th:field="*{gender}" id="inputBasicFemale" name="inputGender" value="F" />
			                            <label for="inputBasicFemale">Female</label>
			                          </div>
			                        </div>
			                      </div>
			                      <div class="form-group col-md-6">
			                        <label class="form-control-label" for="bloodGroup">Blood Group</label>
			                        <div>
			                        <select class="form-control" th:field="*{bloodGroup}">
				                       <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
				                    </select>
			                        </div>
			                      </div>
		                      </div>
		                      <div style="text-align:right" class="form-group">
			                        <button type="submit" class="btn btn-primary btn-outline">Save Changes</button>
			                  </div>
		                    </form>
		                  </div>
                
                  </div>

                  <div class="tab-pane animation-slide-left" id="avatar" role="tabpanel">
                  	<div class="example">
                    	<span class="badge badge-outline badge-danger">Maximum file size is 100 KB</span> 
			      		<span class="badge badge-outline badge-danger">Only image files (JPEG,JPG) are allowed</span><br/>
			      		<input type="hidden" id="userId" th:value="${#authentication.principal.user.id}" />
			      		<form th:action="@{/upload}" enctype="multipart/form-data">
							<div id="avatar-upload" class="dz-default dz-message file-dropzone text-center well col-sm-12">
	
							</div>
						</form>
						
						<hr/>
						<div th:style="'text-align:right'">
							<button id="avatar-upload-button" type="button" class="btn btn-primary btn-outline">
								<i class="icon fa-upload" aria-hidden="true"></i> Upload
							</button>
						</div>
					</div>
                  </div>

                  <div class="tab-pane animation-slide-left" id="passwordChange" role="tabpanel">
                    	<div class="example">
								<form autocomplete="off" id="passwordChangeForm" th:action="@{/user/updatePassword}" method="post">
										
										<div class="form-group col-md-6 col-sm-6">
											<label class="control-label"
												th:text="#{label.user.currentPassword}">current</label>
											<div class="input-group">
												<span class="input-group-addon">
												 <i class="fa fa-lock font-red"></i>
												</span> 
												<input type="password" id="oldpass" name="oldPassword" class="form-control" />
											</div>
										</div>
										<div class="form-group col-md-6 col-sm-6">
											<label class="control-label" th:text="#{label.user.newPassword}">new</label>
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="fa fa-lock font-red"></i>
												</span>
												<input type="password" id="password" name="newPassword"	class="form-control" />
											</div>
										</div>
										<div class="form-group col-md-6 col-sm-6">
											<label class="control-label" th:text="#{label.user.confirmPass}">confirm</label>
											<div class="input-group">
												<span class="input-group-addon">
												 	<i	class="fa fa-lock font-red"></i>
												</span>
												<input type="password" id="matchPassword"	name="matchingPassword" class="form-control" />
											</div>
											<div id="globalError" class="alert alert-danger" style="display: none">error</div>
										</div>
										<div th:style="'text-align:center'">
											<input class="btn btn-primary btn-outline" type="submit" th:value="#{message.changePassword}" />
										</div>

								</form>
							</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>
        </div>
        
</body>
</html>