<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>

	<th:block layout:fragment="script">
        
        <link th:href="@{assets/global/vendor/selectize/css/selectize.default.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{assets/global/vendor/selectize/css/selectize.bootstrap3.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{assets/global/vendor/selectize/js/standalone/selectize.js}"></script>
		
		<script th:inline="javascript">
		 /*<![CDATA[*/
		 
		 var contextRoot = /*[[@{/}]]*/'';
		 
		 $('#select-role').selectize({

		 });
		 
		 $(document).ready(function () {
     		
     		$('#userUpdateForm').submit(function(event) {
     			updateUser(event);
     		});
     		
     	 });

		 function getParameterByName(name, url) {
			    if (!url) url = window.location.href;
			    name = name.replace(/[\[\]]/g, "\\$&");
			    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			        results = regex.exec(url);
			    if (!results) return null;
			    if (!results[2]) return '';
			    return decodeURIComponent(results[2].replace(/\+/g, " "));
		  }

     	 function updateUser(event){
     		
     	    event.preventDefault();
     	       
     	    var formData = $('#userUpdateForm').serialize();
     	    var id = $("#id").val();
     	    
     	    $.post(contextRoot+"updateUser/"+id,formData,function(data){
         	    var isFragment = true;
         	   	var page = getParameterByName('page');
         	   	console.log('selected page :'+page);
     	    	var url = contextRoot+'users?isFragment='+isFragment;
     	    	if(page){
     	    		url = url+'&page='+page
     	    	}
     	    	$("#userFragment").load(url);
     	    	
				$('#updateUserModal').modal('hide');
				$('.modal-backdrop').remove();
				$('.modal-content', this).empty();
				
     	    	successMsg(data.message);
     	    }).fail(function(data) {
     	        if(data.responseJSON.error.indexOf("InternalError") > -1){
     	        	errorMsg(data.responseJSON.message);
     	        }else{
     	        	var errors = $.parseJSON(data.responseJSON.message);
     	            $.each( errors,function( index,item ){
     	                errorMsg(item.defaultMessage);
     	            });
     	        }
     	    });
     	}     	
     	 /*]]>*/ 
		</script>
	</th:block>

	<form role="form" id="userUpdateForm" th:object="${updateUser}"  method="post">
		<div class="modal-header">
			<h3 class="modal-title" th:if="*{firstName != null && lastName != null}" th:text="*{'Update '+firstName+' '+lastName}">update user</h3>
		</div>
		<div class="modal-body">
			<div class="form-body">
				<input type="hidden" id="id" th:field="*{id}" />
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label th:text="#{label.user.firstName}"
								class="control-label">First name</label> <input type="text"
								name="firstName" th:field="*{firstName}"
								class="form-control" /> <span id="firstNameError"
								class="text-danger" style="display: none"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group"> 
							<label th:text="#{label.user.lastName}" class="control-label">Last
								name</label> <input type="text" name="lastName"
								th:field="*{lastName}" class="form-control" /> <span
								id="lastNameError" class="text-danger" style="display: none"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label th:text="#{label.user.email}" class="control-label">email</label>
							<input type="text" name="email" th:field="*{email}" class="form-control" /> <span id="emailError" class="text-danger" style="display: none"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						 <div class="form-group">
	                        <label class="form-control-label" for="select-role">Role</label>
							<select id="select-role" th:field="*{roles}" placeholder="Select a role...">
								<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
							</select>
	                      </div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label class="form-control-label">Gender</label>
	                        <div>
	                          <div class="radio-custom radio-default radio-inline">
	                            <input type="radio" th:field="*{gender}" id="inputBasicMale" name="inputGender" value="M" />
	                            <label for="inputBasicMale">Male</label>
	                          </div>
	                          <div class="radio-custom radio-default radio-inline">
	                            <input type="radio" th:field="*{gender}" id="inputBasicFemale" name="inputGender" value="F" />
	                            <label for="inputBasicFemale">Female</label>
	                          </div>
	                        </div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label class="form-control-label">Account Status</label>
	                        <div>
	                          <div class="radio-custom radio-default radio-inline">
	                            <input type="radio" th:field="*{enabled}" id="inputBasicActive" name="enabled" value="true" />
	                            <label for="inputBasicActive">Active</label>
	                          </div>
	                          <div class="radio-custom radio-default radio-inline">
	                            <input type="radio" th:field="*{enabled}" id="inputBasicInactive" name="enabled" value="false" />
	                            <label for="inputBasicInactive">Inactive</label>
	                          </div>
	                        </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary btn-outline">Save changes</button>
			<button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
		</div>
	</form>
</body>
</html>