<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sd="http://io.github.jpenren/sd"
	layout:decorate="~{layouts/main}">
	
<head>
<meta charset="UTF-8">
<title>e-assignment | Reference Documents</title>
</head>
<body>

	<th:block layout:fragment="~{page-specific-css-script}">
	
		<link th:href="@{/assets/global/vendor/dropzone/dropzone.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/apps/dropzone-custom.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{/assets/global/vendor/dropzone/dropzone.js}" type="text/javascript"></script>
        <script th:src="@{/assets/js/app/assignmentDocumentDropzone.js}" type="text/javascript"></script>
           
		<style type="text/css">
			/* page specific css */
			
			
		</style>
		<script th:inline="javascript">
		/*<![CDATA[*/
				
				

		/*]]>*/ 	
		</script>
		
	</th:block>
	
	
	<div class="panel" layout:fragment="~{page-content}">
	
       <div class="panel-heading">
         <h3 class="panel-title">
         	<i class="site-menu-icon icon md-assignment" aria-hidden="true"></i>
         	Upload Reference Document On
         	<span th:text="${assignment?.title}">Assignment Title</span>
         </h3>
       </div>
       
       <div class="panel-body">
        	<span class="badge badge-outline badge-danger">Maximum file size is 25MB</span>
        	<span class="badge badge-outline badge-danger">Only .doc .docx .pdf .zip .rar are allowed</span>
        	<form id="assignment-documents-form" th:object="${assignmentDocument}" th:action="@{/teacher/uploadAssignmentDocuments(assignmentId=${assignment.id})}" enctype="multipart/form-data">
        		<input type="hidden" id="assignmentId" th:field="${assignment.id}" />
				<div id="assignment-documents-dropzone" class="dropzone dz-default dz-message file-dropzone text-center well col-sm-12">

				</div>
			</form>
			<hr/>
			<div class="float-right">
				<button id="assignment-documents-upload-button" type="button" class="btn btn-primary btn-outline">
					<i class="icon fa-upload" aria-hidden="true"></i> Upload
				</button>
			</div>
       </div>
       
       <div class="panel-footer">
       		<h4>Assignment Documents :</h4>
       		<div id="assignmentDocuments">
       			<th:block th:insert="fragments/teacher/referenceDocuments :: referenceDocuments"></th:block>
			</div>
	   </div>
	   
	</div>

</body>
</html>